{% load static %}
<div class="bg-blue-dell border-right pt-3" id="sidebar-wrapper">
    <a href="{% url 'home' %}" class="block py-1 md:py-3 pl-1 align-middle text-blue-200 no-underline hover:text-white">
        <img class="h-6" src="https://tbcdn.talentbrew.com/company/375/v2_0/img/logo-dell-technologies.svg"
            alt="Logo">
    </a>
    <div class="list-group list-group-flush p-4">

        {% if request.user.role.role_name == 'Program Manager'%}
        <a href="{% url 'pm_event_proposal' %}" class="block p-3 align-middle text-white no-underline hover:text-blue-200">
            <i class="fa fa-wallet pr-3 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base block inline-block"> Event Proposal</span>
        </a>
        <a href="{% url 'pm_event_reg' %}" class="block p-3 align-middle text-white no-underline hover:text-blue-200">
            <i class="far fa-file-alt pr-3 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base block inline-block"> Event <br>Registration</span>
        </a>
        <a href="{% url 'pm_event_mngt' %}" class="block p-3 align-middle text-white no-underline hover:text-blue-500">
            <i class="fas fa-tasks pr-3 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base block inline-block"> Event <br>Management</span>
        </a>
        {% elif request.user.role.role_name == 'Committee Lead'%}
        <a href="{% url 'cl_event_proposal' %}" class="block p-3 align-middle text-white no-underline hover:text-blue-200">
            <i class="fa fa-wallet pr-3 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base block inline-block"> Event Proposal</span>
        </a>
        <a href="{% url 'cl_event_mngt' %}" class="block p-3 align-middle text-white no-underline hover:text-blue-500">
            <i class="fas fa-tasks pr-3 md:pr-3"></i><span
                class="pb-1 md:pb-0 text-xs md:text-base block inline-block"> Event <br>Management</span>
        </a>
        {% endif %}
    </div>
</div>