{% extends "admin_base.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Event Proposal</title>
    {% endblock %}

</head>

<body>
    {% block page-title %}
    <h2>Event Proposal</h2>
    {% endblock %}

    {% block body %}

    <section class="m-5 bg-white p-3">

        {% if request.user.role.role_name == 'Program Manager' %}
        <!-- if user = PM -->
        <a href="#propose-event" data-toggle="modal" data-target="#propose-event"
            class="my-3 btn btn-primary hover:no-underline"><i class="fas fa-plus-square mr-2"></i>Propose New Event</a>
        <!-- end of PM -->
        {% endif %}

        <div class="dataTables_scroll">
            <table id="propose-table" class="table m-6 divide-y divide-gray-200 align-middle" style="width:100%;">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Type</th>
                        <th>Month</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th>Committee Lead</th>
                        <th>Speaker</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody class="text-center">

                    {% for proposal in proposal_list %}
                    <tr>
                        <td>
                            <div>
                                {{ proposal.name }}
                            </div>
                            {% if cl_event.category.name == 'Trainings' %}

                            <span class="text-sm rounded-md bg-yellow-100 text-yellow-800 px-3 py-1">
                                {{ cl_event.category.name }}
                            </span>

                            {% elif cl_event.category.name == 'Social Hangouts' %}

                            <span class="text-sm rounded-md bg-indigo-100 text-indigo-800 px-3 py-1">
                                {{ cl_event.category.name }}
                            </span>

                            {% elif cl_event.category.name == 'Volunteering' %}

                            <span class="text-sm rounded-md bg-green-100 text-green-800 px-3 py-1">
                                {{ cl_event.category.name }}
                            </span>

                            {% elif cl_event.category.name == 'Summits' %}

                            <span class="text-sm rounded-md bg-red-100 text-red-800 px-3 py-1">
                                {{ cl_event.category.name }}
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if proposal.virtual == True %}
                            Virtual
                            {% else %}
                            Physical
                            {% endif %}
                        </td>
                        <td>{{ proposal.month }}</td>
                        <td>{{ proposal.duration }}</td>
                        <td>{{ proposal.description }}</td>
                        <td>{{ proposal.comm_lead.full_name }}</td> <!-- <td>Ashley</td>  -->
                        <td>{{ proposal.speaker }}</td>
                        <td>
                            {% if cl_event.status_fk.name == 'Completed' %}
                            <span
                                class="mt-2 text-sm px-2 inline-flex font-semibold rounded-md bg-green-100 text-green-800 px-3 py-1">Completed</span>
                            {% else %}
                            <span
                                class="mt-2 text-sm px-2 inline-flex font-semibold rounded-md bg-indigo-100 text-indigo-800 px-3 py-1">New</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </section>

    <div class="modal fade" id="propose-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Propose New Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action={% url 'pm_propose_event' %} method="POST">
                        {% csrf_token %}
                        <div class="overflow-hidden sm:rounded-md">
                            <div class="bg-white p-2">
                                <div class="grid grid-cols-4 gap-6">
                                    
                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="event_name" class="block text-sm font-medium text-gray-700">Event
                                            Name</label>
                                        <input type="text" name="event_name" id="first_name"
                                            class="p-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm border-gray-900 rounded-md"
                                            required>
                                    </div>

                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="category" class="block text-sm font-medium text-gray-700">Event
                                            Category</label>
                                        <select required id="category" name="category" class="selectpicker">
                                            <option selected disabled value="">Choose...</option>
                                            {% for cat in event_cat %}
                                            <option value="{{ cat.name }}">{{ cat.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="type" class="block text-sm font-medium text-gray-700">Event
                                            Type</label>
                                        <select required id="type" name="type" class="selectpicker">
                                            <option selected disabled value="">Choose...</option>
                                            <option value="Virtual">Virtual</option>
                                            <option value="Physical">Physical</option>
                                        </select>
                                    </div>

                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="startDate" class="block text-sm font-medium text-gray-700">Event Month</label>
                                        <input type="month" id="month" name="month"
                                            class="p-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm border-gray-300 rounded-md"
                                            required>
                                    </div>

                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="entDate" class="block text-sm font-medium text-gray-700">Event Duration (Hours)</label>
                                        <input type="number" id="duration" name="duration"
                                            class="p-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm border-gray-300 rounded-md"
                                            required>
                                    </div>


                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="description"
                                            class="block text-sm font-medium text-gray-700">Description</label>
                                        <input type="text-area" name="description" id="description"
                                            class="p-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-900 rounded-md"
                                            required>
                                    </div>

                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="cl" class="block text-sm font-medium text-gray-700">Committee
                                            Lead</label>
                                        <select required id="comm_lead" name="comm_lead" class="selectpicker">
                                            <option selected disabled value="">Choose...</option>
                                            {% for cl in cl_list %}
                                            <option value="{{ cl.id }}">{{ cl.full_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-span-4 sm:col-span-4">
                                        <label for="speaker"
                                            class="block text-sm font-medium text-gray-700">Speaker</label>
                                        <input type="text" name="speaker" id="speaker"
                                            class="p-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-900 rounded-md"
                                            required>
                                    </div>

                                </div>

                                <div class="bg-white text-right my-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#propose-table').DataTable({

                "columnDefs": [{
                        "width": "15%",
                        "targets": 0
                    },
                    {
                        "width": "10%",
                        "targets": 1
                    },
                    {
                        "width": "10%",
                        "targets": 2
                    },
                    {
                        "width": "15%",
                        "targets": 3
                    },
                    {
                        "width": "10%",
                        "targets": 5
                    },
                    {
                        "width": "10%",
                        "targets": 6
                    },
                    {
                        "width": "10%",
                        "targets": 7
                    },

                ]
            });

            jQuery('.dataTable').wrap('<div class="dataTables_scroll"/>');
        });
    </script>

    {% endblock %}

</body>