{% extends "admin_base.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Event Registration</title>
    {% endblock %}

</head>

<body>

    {% block page-title %}
    <h2>Event Registration</h2>
    {% endblock %}

    {% block body %}

    <section class="m-5 bg-white p-3">

        {% if messages %}
        {% for message in messages %}
    
        {% if message.tags == 'error' %}
        <div style="font-size: 80%; width: 20%; margin-bottom: 0rem; margin-top: .25rem;" class=" alert alert-danger" role="alert">
            {{ message }}</div><br>
    
        {% elif message.tags == 'success' %}
        <div style="font-size: 80%; width: 20%; margin-bottom: 0rem; margin-top: .25rem;" class=" alert alert-success" role="alert">
            {{ message }}</div><br>
    
        {% endif %}
        {% endfor %}
        {% endif %}

    
        <form action="{% url 'pm_event_reg' %}" method="POST">
            {% csrf_token %}
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-4 gap-6">


                    <div class="col-span-4 sm:col-span-4">
                        <label for="event" class="block text-sm font-medium text-gray-700">Event</label>
                        <select id="event" data-live-search="true" data-size="5" name="event_name" class="selectpicker" data-width="40%">
                            <option selected disabled value="">Choose...</option>
                            {% for event in event_list %}
                            <option value="{{ event.name }}">
                                {{ event.name }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-span-4 sm:col-span-4">
                        <label for="participants" class="block text-sm font-medium text-gray-700">Participants</label>
                        <select multiple data-live-search="true" data-size="5" id="participants" name="participants"
                            class="selectpicker" data-width="40%">
                            {% for pt in pt_list %}
                            <option value="{{ pt.id }}" data-subtext="{{ pt.department }}">
                                {{ pt.full_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="px-4 py-3 bg-white text-right sm:px-6">
                    <!-- <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-100 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Back
                    </button> -->
                    <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Submit
                    </button>
                </div>
            </div>

        </form>

    </section>

    {% endblock %}

</body>