{% extends "admin_base.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Feedback Management</title>
    {% endblock %}

</head>

<body>

    {% block page-title %}
    <h2>Feedback Management</h2>
    {% endblock %}

    {% block body %}
    <section class="m-5 bg-white p-3">
        <!-- <div class="dataTables_scroll"> -->

            <table id="pm-feedback-table" class="table m-6 divide-y divide-gray-200 align-middle" style="width:100%;">
                <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="text-center">

                    {% for fb in fb_list %}
                    <tr>
                        <td>{{ fb.participant_fk.full_name }}</td>
                        <td>
                            <div>
                                {{ fb.event_fk.name }}
                            </div>
                            {% if fb.event_fk.category.name == 'Trainings' %}

                            <span class="text-sm rounded-md bg-yellow-100 text-yellow-800 px-3 py-1">
                                {{ fb.event_fk.category.name }}
                            </span>

                            {% elif fb.event_fk.category.name == 'Social Hangouts' %}

                            <span class="text-sm rounded-md bg-indigo-100 text-indigo-800 px-3 py-1">
                                {{ fb.event_fk.category.name }}
                            </span>

                            {% elif fb.event_fk.category.name == 'Volunteering' %}

                            <span class="text-sm rounded-md bg-green-100 text-green-800 px-3 py-1">
                                {{ fb.event_fk.category.name }}
                            </span>

                            {% elif fb.event_fk.category.name == 'Summits' %}

                            <span class="text-sm rounded-md bg-red-100 text-red-800 px-3 py-1">
                                {{ fb.event_fk.name.category.name }}
                            </span>
                            {% endif %}

                        </td>

                        <td>{{ fb.description }}</td>
                        <td>
                            {% if fb.event_fk.name.status_fk.name == 'Completed' %}
                            <span
                                class="mt-2 text-sm px-2 inline-flex font-semibold rounded-md bg-green-100 text-green-800 px-3 py-1">Completed</span>
                            {% else %}
                            <span
                                class="mt-2 text-sm px-2 inline-flex font-semibold rounded-md bg-indigo-100 text-indigo-800 px-3 py-1">New</span>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        <!-- </div> -->

    </section>

    <script>
        $(document).ready(function () {
            $('#pm-feedback-table').DataTable({
                "scrollX": false,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
                "columnDefs": [{
                        "width": "15%",
                        "targets": 0
                    },
                    {
                        "width": "10%",
                        "targets": 1
                    },
                    {
                        "width": "50%",
                        "targets": 2
                    },
                    {
                        "width": "10%",
                        "targets": 3
                    },

                ]
            });

            jQuery('.dataTable').wrap('<div class="dataTables_scroll"/>');

        });
    </script>

    {% endblock %}

</body>