{% extends "user_base.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Event Management</title>
    {% endblock %}

</head>

<body>

    {% block body %}

    <section>

        {% if messages %}
        {% for message in messages %}

        {% if message.tags == 'error' %}
        <div style="font-size: 80%; width: 20%; margin-bottom: 0rem; margin-top: .25rem;" class=" alert alert-danger"
            role="alert">
            {{ message }}</div><br>

        {% elif message.tags == 'success' %}
        <div style="font-size: 80%; width: 20%; margin-bottom: 0rem; margin-top: .25rem;" class=" alert alert-success"
            role="alert">
            {{ message }}</div><br>

        {% endif %}
        {% endfor %}
        {% endif %}

        <table id="event_management" class="table m-6 divide-y divide-gray-200 align-middle" style="width:100%">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Registration Due Date</th>
                    <th>Status</th>
                    <!-- <th>Role</th> -->
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>

                {% for reg in event_reg %}
                {% if reg.status_fk.name == 'Registered' or reg.status_fk.name == 'Attended' or reg.status_fk.name == 'Postponed' %}
                <tr>
                    <td class="row-center">
                        <div>
                            {{ reg.event_fk.name }}
                        </div>

                        {% if reg.event_fk.category.name == 'Trainings' %}

                        <span class="text-sm rounded-md bg-yellow-100 text-yellow-800 px-3 py-1">
                            {{ reg.event_fk.category.name }}
                        </span>

                        {% elif reg.event_fk.category.name == 'Social Hangouts' %}

                        <span class="text-sm rounded-md bg-indigo-100 text-indigo-800 px-3 py-1">
                            {{ reg.event_fk.category.name }}
                        </span>

                        {% elif reg.event_fk.category.name == 'Volunteering' %}

                        <span class="text-sm rounded-md bg-green-100 text-green-800 px-3 py-1">
                            {{ reg.event_fk.category.name }}
                        </span>

                        {% elif reg.event_fk.category.name == 'Summits' %}

                        <span class="text-sm rounded-md bg-red-100 text-red-800 px-3 py-1">
                            {{ reg.event_fk.category.name }}
                        </span>
                        {% endif %}
                    </td>
                    <td class="row-center">{{ reg.event_fk.reg_due_datetime }}</td>
                    <td class="row-center">

                        {% if reg.status_fk.name == 'Attended' %}
                        <span
                            class="text-sm rounded-md bg-green-100 text-green-800 px-3 py-1">
                            {{ reg.status_fk.name }}
                        </span>
                        {% else %}
                        <span
                            class="text-sm rounded-md bg-yellow-100 text-yellow-800 px-3 py-1">
                            {{ reg.status_fk.name }}
                        </span>
                        <a id="pt-event-status-modal-pop" style="cursor: pointer;"
                            data-url="{% url 'pt_event_status_modal' reg.id %}" title="Edit Status"><i
                                class="fas fa-edit ml-1"></i>
                        </a>
                        {% endif %}

                    </td>
                    <!-- <td class="row-center">Participant</td> -->
                    <td class="row-center">
                        {% if reg.status_fk.name == 'Attended' or reg.event_fk.status_fk.name == 'Completed' %}
                        <a id="pt-event-feedback-modal-pop" style="cursor: pointer;"
                            data-url="{% url 'pt_event_feedback_modal' reg.id %}"
                            class="hover:no-underline text-sm rounded-md bg-blue-100 text-blue-800 px-3 py-1">Submit
                            Feedback</a>
                        {% else %}
                        <span class="hover:no-underline text-sm rounded-md bg-gray-100 text-gray-800 px-3 py-1">Submit
                            Feedback</span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </section>

    <script>
        $(document).ready(function () {
            $('#event_management').DataTable({
                "scrollX": false,
                "lengthMenu": [
                    [5, 10, 20, -1],
                    [5, 10, 20, "All"]
                ],
            });
        });

        $(document).on("click", "#pt-event-status-modal-pop", function () {
            $.ajax({
                url: $(this).attr("data-url"),
                success: function (data) {
                    $("#pt-event-status-modal-container").html(data);
                    $('#pt-event-status-modal').modal('toggle');
                }
            });
        });

        $(document).on("click", "#pt-event-feedback-modal-pop", function () {
            $.ajax({
                url: $(this).attr("data-url"),
                success: function (data) {
                    $("#pt-event-feedback-modal-container").html(data);
                    $('#pt-event-feedback-modal').modal('toggle');
                }
            });
        });
    </script>

    <div id="pt-event-status-modal-container"></div>
    <div id="pt-event-feedback-modal-container"></div>
    {% endblock %}

    {% block footer_adjust %}
    <div style="min-height: 61vh;">
    </div>
    {% endblock %}

</body>