{% extends "user_base.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Registration Page</title>
    {% endblock %}

</head>

<body>
    {% block body %}
    <div class="row">
        <div class="col">
            <strong style="font-size: 32px;" id="incident-header">Registration Form</strong>
        </div>
    </div>
    <br>

    <form method="POST" id="event-form" action={% url 'event_menu' %}>
        {% csrf_token %}
        <div class="form-group">
            <label>Full Name<span style="color: red">&nbsp;*</span></label>
            <input type="text" value="{{ request.user.full_name }}" class="form-control" required readonly>
        </div>

        <div class="form-group">
            <label>Select Event<span style="color: red">&nbsp;*</span></label>
            <select name="event" id="event" class="form-control">
                {% for event in event_obj %}
                <option value="{{ event.name }}">
                    {{ event.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit"
            class="text-white bg-indigo-300 hover:bg-indigo-500 py-2 px-4 rounded float-right">Submit</button>
        <!-- <button type="submit" class="btn btn-primary text-violet-700 text-base font-semibold float-right">Submit</button> -->
        <br>
        <br>
    </form>

    {% endblock %}

</body>